* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  background: linear-gradient(to bottom, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0.85 ));
}

.logo {
  margin-left: 50px;
  font-size: 24px;
  font-weight: bolder;
  font-family: "Michroma";
  background-color: darkred;
  height: 85px;
  align-items: center;
  display: flex;
  padding: 30px;
  transition: 0.5s ease;
}

.logo:hover {
  color: black;
  background-color: lightgrey;
}

.nav-buttons {
  padding-right: 50px
}

.nav-buttons a {
  font-size: 18px;
  margin: 12px;
  padding: 10px 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  align-items: stretch;
  margin-top: 16px;
  font-weight: bolder;
  transition: 0.3s ease
}

.nav-buttons a:hover {
  color:blue
}

.nav-buttons button:hover {
  background-color: #777;
}